.clock{
    display:grid;
    align-items: center;
    justify-content: center;
text-shadow: 2px 2px 3px grey;

background-color: beige;
box-shadow: 5px 5px 10px grey;
border: 1px solid grey;
border-radius: 10px;
padding:1rem;
}
.lect{
    width:80vw;
    border-radius: 10px;
    margin: auto;
   aspect-ratio: 16 / 9;
}